services:
  spring-app:
    build: .
    ports:
      - "8080:8080"
    networks:
      - my-network

  postgres:
    image: postgres:latest
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 0000
      POSTGRES_DB: postgres

    ports:
      - 5433:5432
    networks:
      - my-network

networks:
  my-network:
    driver: bridge