version: "3.8"

services:
  mongo:
    image: mongo
    container_name: mongo
    ports:
      - "27018:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: 0088

  mongo-express:
    image: mongo-express
    container_name: mongo-express
    ports:
      - "8081:8081"
    restart: always
    environment:
      ME_CONFIG_MONGODB_ADMINUSERNAME: admin
      ME_CONFIG_MONGODB_ADMINPASSWORD: 0088
      ME_CONFIG_MONGODB_URL: mongodb://admin:0088@mongo:27017/?authSource=admin

  app:
    build: .
    container_name: node-app
    ports:
      - "5050:5050"
    depends_on:
      - mongo
    environment:
      MONGO_DB_USERNAME: admin
      MONGO_DB_PASSWORD: 0088
